<app-menu  (changeCountryEvent)='changeCountry($event)'></app-menu>

<!-- <mat-spinner></mat-spinner> -->

<div class="container">
    <div class="row">
      <div class="col-12">
        <ng-container *ngIf="country">
          <app-info-covid [country]="country"></app-info-covid>
        </ng-container>
      </div>
      <div class="col-12 col-md-6">
        <mat-spinner class="m-auto" *ngIf="!chuckNorrisSentence"></mat-spinner>
        <app-info-words *ngIf="chuckNorrisSentence"
            [title]="'Chuck Norris Words'"
            [sentence]="chuckNorrisSentence"></app-info-words>
      </div>
      <div class="col-12 col-md-6">
        <mat-spinner class="m-auto" *ngIf="!numberSentence"></mat-spinner>
        <app-info-words *ngIf="numberSentence"
            [title]="'Numbers'"
            [sentence]="numberSentence"></app-info-words>
      </div>
    </div>
</div>

