<h1 mat-dialog-title>Countries</h1>
<div mat-dialog-content>
  <p>Choose one</p>
  
  <mat-form-field appearance="fill">
    <mat-label>Countries</mat-label>
    <mat-select [(value)]="selectedCountry">
      <mat-option></mat-option>
      <mat-option [value]="country.name" *ngFor="let country of countries">{{ country.name }}</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button class="button-action" mat-button (click)="onNoClick()">Cancel</button>
  <button class="button-action" mat-button [mat-dialog-close]="selectedCountry" cdkFocusInitial>OK</button>
</div>